@using BizManWeb.ViewModels.Home
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @if (Model.CurrentRound == null || Model.LastRound == null)
    {
        <div class="col-md-12">
            <h2>This League's schedule has not been initialized.
            <br />
            <small>Tell your web administrator to get their act together!</small></h2>
        </div>
    }
    else
    {
    <div class="col-md-6">
        <h2>Upcoming <small><strong>Rd @Model.CurrentRound.Order</strong> @Model.CurrentRoundDate.ToString("d")<br class="hidden-sm" />&nbsp;</small></h2>
        @foreach (var matchup in Model.CurrentRound.Matches)
        {
            <div class="row well well-sm">
                <div class="col-md-6">
                    <span class="label label-info">@matchup.Teams.ToList()[0].Team.TeamNumber</span>&nbsp;<span><strong>@matchup.Teams.ToList()[0].Team.Golfers.ToList()[0].FirstInitialPlusLastName <small>&amp;</small> @matchup.Teams.ToList()[0].Team.Golfers.ToList()[1].FirstInitialPlusLastName</strong></span>
                </div>
                <div class="col-md-6">
                    <span class="label label-info">@matchup.Teams.ToList()[1].Team.TeamNumber</span>&nbsp;<span><strong>@matchup.Teams.ToList()[1].Team.Golfers.ToList()[0].FirstInitialPlusLastName <small>&amp;</small> @matchup.Teams.ToList()[1].Team.Golfers.ToList()[1].FirstInitialPlusLastName</strong></span>

                </div>
            </div>

        }

    </div>
    <div class="col-md-6">
        <h2>
            Recent <small><strong>Rd @Model.LastRound.Order</strong> @Model.LastRound.Date.ToString("d") <br />(Still waiting on the results.)</small>
        </h2>
        @foreach (var matchup in Model.LastRound.Matches)
        {
            <div class="row well well-sm">
                <div class="col-md-6">
                    <span class="label label-info">@matchup.Teams.ToList()[0].Team.TeamNumber</span>&nbsp;<span><strong>@matchup.Teams.ToList()[0].Team.Golfers.ToList()[0].FirstInitialPlusLastName <small>&amp;</small> @matchup.Teams.ToList()[0].Team.Golfers.ToList()[1].FirstInitialPlusLastName</strong></span>
                </div>
                <div class="col-md-6">
                    <span class="label label-info">@matchup.Teams.ToList()[1].Team.TeamNumber</span>&nbsp;<span><strong>@matchup.Teams.ToList()[1].Team.Golfers.ToList()[0].FirstInitialPlusLastName <small>&amp;</small> @matchup.Teams.ToList()[1].Team.Golfers.ToList()[1].FirstInitialPlusLastName</strong></span>

                </div>
            </div>

        }
    </div>
    }
</div>