@using BizManWeb.ViewModels.Schedule
@model ScheduleIndexViewModel

<h1>
    2016 League Schedule
</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed schedule-table">
            @foreach (var round in Model.Rounds)
            {
                <tr class="@(round.IsCurrentRound ? "info" : "default")">
                    <th>
                        RD@(round.Order)&nbsp;
                        @if (round.HasBeenPlayed)
                        {
                            <span class="label label-default">
                            @round.Date.ToString("d")
                            </span>
                        }


                    </th>
                    @foreach (var match in round.Matches)
                {
                        <td>@match.Teams.ToList()[0].Team.TeamNumber - @match.Teams.ToList()[1].Team.TeamNumber</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>
            Teams
        </h4>
        <ol>
            @foreach (var team in Model.Teams)
            {

                <li><b>@team.Golfers.ToList()[0].Name</b> and <b>@team.Golfers.ToList()[1].Name</b></li>


            }
        </ol>
    </div>
</div>